In [1]:
import requests
import zipfile
import io
import csv

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import split
from pyspark.sql.functions import expr
from pyspark.sql.functions import col

# Crear una sesión de Spark
spark = SparkSession.builder.getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/08 10:27:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
americans_countries = ['Argentina', 'Bahamas', 'Belize', 'Bolivia (Plurinational State of)', 'Brazil', 'Canada', 'Chile', 'Colombia', 'Costa Rica', 'Cuba', \
                     'Dominica', 'Ecuador', 'El Salvador', 'United States of America', 'Granada', 'Guatemala', 'Guyana', 'Haití', 'Honduras', \
                     'Jamaica', 'Mexico', 'Nicaragua', 'Panama', 'Paraguay', 'Peru', 'Dominican Republic', 'Saint Vincent and the Grenadines', \
                     'Saint Lucia', 'Suriname', 'Trinidad and Tobago', 'Uruguay', 'Venezuela (Bolivarian Republic of)']
oceanic_countries = ['Australia', 'Fiji', 'Marshall Islands', 'Salomon Islands', 'Kiribati', 'Micronesia (Federated States of)', 'Nauru', \
                     'New Zealand', 'Palau', 'Papúa Nueva Guinea', 'Samoa', 'Tonga', 'Tuvalu', 'Vanuatu']

Los códigos de estado HTTP son números de tres dígitos que se utilizan para indicar el resultado de una solicitud al servidor. Algunos ejemplos comunes de códigos de estado son:

    200 OK: La solicitud ha sido exitosa.
    400 Bad Request: La solicitud no se pudo entender o contiene sintaxis incorrecta.
    401 Unauthorized: La solicitud requiere autenticación o el usuario no tiene los permisos necesarios.
    404 Not Found: El recurso solicitado no se encuentra en el servidor.
    500 Internal Server Error: El servidor encontró una condición inesperada que le impidió cumplir con la solicitud.

In [4]:
url_00 ="https://apps.who.int/gho/athena/data/GHO/WHS3_62?filter=COUNTRY:*;REGION:*&ead=&x-sideaxis=COUNTRY&x-topaxis=GHO;YEAR&profile=crosstable&format=csv"

In [5]:
response = requests.get(url_00)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Guardar el contenido de la respuesta en un archivo
    with open("who/data_00.csv", "wb") as file:
        file.write(response.content)
    print("Archivo descargado exitosamente.")
else:
    print("No se pudo realizar la descarga.")

Archivo descargado exitosamente.

In [6]:
# Ruta del archivo CSV

csv_url_00 = "who/data_00.csv"

# Crear una lista para almacenar las filas del archivo CSV
rows_url_00 = []


#API_SE.PRM.CMPT.ZS_DS2_es_csv_v2_5478942

In [7]:
# Leer el archivo CSV y almacenar las filas en la lista
with open(csv_url_00, "r") as file_csv_url_00:
    csv_reader_url_00 = csv.reader(file_csv_url_00)
    rows_url_00 = list(csv_reader_url_00)

In [8]:
# Eliminar las primeras 4 filas

rows_url_00 = rows_url_00[1:]

# Escribir las filas modificadas en un nuevo archivo CSV
with open("who/data_00.csv", "w", newline="") as file_csv_url_00:
    csv_writer_url_00 = csv.writer(file_csv_url_00)
    csv_writer_url_00.writerows(rows_url_00)

In [9]:
data_00 = spark.read.csv("who/data_00.csv", header=True)

In [10]:
data_00.limit(3).pandas_api()

/usr/lib/python3.10/site-packages/pyspark/pandas/__init__.py:50: UserWarning: 'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.
  warnings.warn(
23/06/08 10:27:46 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

  Countries, territories and areas  2021  2020  2019  2018  2017  2016  2015  2014  2013  2012  2011  2010  2009  2008  2007  2006  2005  2004   2003  2002  2001  2000  1999  1998   1997   1996  1995  1994  1993  1992  1991  1990    1989  1988   1987  1986   1985   1984   1983   1982   1981   1980   1979   1978   1977   1976  1975   1974
0                      Afghanistan  2900   640   353  2012  1511   638  1154   492   430  2787  3013  1989  2861  1599  1141  1990  1296   466    798  2486  8762  6532  3609  2205   None   None  None  None  None  None   792  1609    1170  4561  10357  8107  14457  16199  18808  20320  31107  32455  43979  43964  28174     26   466      7
1                          Albania  None     4   488  1469    12    17  None  None     0     9    28    10     0  None    22    68     6     7      8    16    18   662   797  1901   2386   1204    15    29     7     0     0  None  136034     0      0     0      0      0     17      3   None   None   None   None   None   None  None   None
2                          Algeria  None  None  2585  3356   112    41    63     0    25    18   112   103   107   217     0   944  2302  3289  15374  5862  2686  None  2503  3301  19573  21003  8204  5913  3141  8823  5969  1796    4169  2634   2500  3975  20114  22553  22126  29584  20849  15527  14937  10696  12015  15646  8899  10517

In [11]:
len(data_00.columns)

49

In [12]:
print(data_00.columns)

['Countries, territories and areas', ' 2021', ' 2020', ' 2019', ' 2018', ' 2017', ' 2016', ' 2015', ' 2014', ' 2013', ' 2012', ' 2011', ' 2010', ' 2009', ' 2008', ' 2007', ' 2006', ' 2005', ' 2004', ' 2003', ' 2002', ' 2001', ' 2000', ' 1999', ' 1998', ' 1997', ' 1996', ' 1995', ' 1994', ' 1993', ' 1992', ' 1991', ' 1990', ' 1989', ' 1988', ' 1987', ' 1986', ' 1985', ' 1984', ' 1983', ' 1982', ' 1981', ' 1980', ' 1979', ' 1978', ' 1977', ' 1976', ' 1975', ' 1974']

In [13]:
data_00 = data_00.selectExpr('`Countries, territories and areas`', "stack(48, \
' 1974', ` 1974`, \
' 1975', ` 1975`, ' 1976', ` 1976`, ' 1977', ` 1977`, ' 1978', ` 1978`, ' 1979', ` 1979`, \
' 1980', ` 1980`, ' 1981', ` 1981`, ' 1982', ` 1982`, ' 1983', ` 1983`, ' 1984', ` 1984`, \
' 1985', ` 1985`, ' 1986', ` 1986`, ' 1987', ` 1987`, ' 1988', ` 1988`, ' 1989', ` 1989`, \
' 1990', ` 1990`, ' 1991', ` 1991`, ' 1992', ` 1992`, ' 1993', ` 1993`, ' 1994', ` 1994`, \
' 1995', ` 1995`, ' 1996', ` 1996`, ' 1997', ` 1997`, ' 1998', ` 1998`, ' 1999', ` 1999`, \
' 2000', ` 2000`, ' 2001', ` 2001`, ' 2002', ` 2002`, ' 2003', ` 2003`, ' 2004', ` 2004`, \
' 2005', ` 2005`, ' 2006', ` 2006`, ' 2007', ` 2007`, ' 2008', ` 2008`, ' 2009', ` 2009`, \
' 2010', ` 2010`, ' 2011', ` 2011`, ' 2012', ` 2012`, ' 2013', ` 2013`, ' 2014', ` 2014`, \
' 2015', ` 2015`, ' 2016', ` 2016`, ' 2017', ` 2017`, ' 2018', ` 2018`, ' 2019', ` 2019`, \
' 2020', ` 2020`, ' 2021', ` 2021`) as (Year, pais)")

In [14]:
data_00.sample(False, 5/data_00.count(), seed=150).limit(5).pandas_api()

   Countries, territories and areas   Year   pais
0                           Algeria   1974  10517
1  Bolivia (Plurinational State of)   1990    820
2                           Estonia   1998     17
3                            France   2015    157
4                             Gabon   1992   1245

In [15]:
data_00 = data_00.filter(col("Countries, territories and areas").isin(americans_countries) | col("Countries, territories and areas").isin(oceanic_countries))

In [16]:
data_00.sample(False, 5/data_00.count(), seed=150).limit(5).pandas_api()

  Countries, territories and areas   Year   pais
0                          Bahamas   1974    432
1                           Canada   1991   6178
2                             Cuba   1974  13874
3                         Kiribati   1990     30
4                      New Zealand   1978   None

In [17]:
data_00.coalesce(1).write.option("header", "true").mode("overwrite").csv("oms_00")

In [18]:
url_01 = "https://apps.who.int/gho/athena/data/GHO/WHS3_62?filter=COUNTRY:-;REGION:AFR;REGION:AMR;REGION:SEAR;REGION:EUR;REGION:EMR;REGION:WPR;REGION:GLOBAL&ead=&x-sideaxis=REGION&x-topaxis=GHO;YEAR&profile=crosstable&format=csv"

In [19]:
import requests


response = requests.get(url_01)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Guardar el contenido de la respuesta en un archivo
    with open("who/data_01.csv", "wb") as file:
        file.write(response.content)
    print("Archivo descargado exitosamente.")
else:
    print("No se pudo realizar la descarga.")

Archivo descargado exitosamente.

In [20]:
# Ruta del archivo CSV

csv_url_01 = "who/data_01.csv"

# Crear una lista para almacenar las filas del archivo CSV
rows_url_01 = []


#API_SE.PRM.CMPT.ZS_DS2_es_csv_v2_5478942

In [21]:
# Leer el archivo CSV y almacenar las filas en la lista
with open(csv_url_01, "r") as file_csv_url_01:
    csv_reader_url_01 = csv.reader(file_csv_url_01)
    rows_url_01 = list(csv_reader_url_01)

In [22]:
# Eliminar las primeras 1 fila

rows_url_01 = rows_url_01[1:]

# Escribir las filas modificadas en un nuevo archivo CSV
with open("who/data_01.csv", "w", newline="") as file_csv_url_01:
    csv_writer_url_01 = csv.writer(file_csv_url_01)
    csv_writer_url_01.writerows(rows_url_01)

In [23]:
data_01 = spark.read.csv("who/data_01.csv", header=True)

In [24]:
data_01.limit(3).pandas_api()

  WHO region    2021    2020    2019    2018    2017    2016    2015    2014    2013    2012    2011    2010    2009    2008    2007    2006    2005    2004    2003    2002    2001    2000    1999    1998    1997    1996    1995    1994     1993     1992     1991     1990     1989     1988     1987     1986     1985     1984     1983     1982     1981     1980
0     Global  124041  159067  873022  360296  173457  132490  214808  282078  275307  212376  359332  343806  278637  278751  285031  377576  585701  513406  679856  586471  849173  853479  752407  694466  825673  870218  720391  926808  1143945  1481192  1370243  1325074  1822390  1663940  1682847  2078696  2819553  3026973  3586101  3623758  4078455  3852242
1     Africa   89606  115369  618595  125426   72603   36269   52758   73914  171178  108004  195620  199174   83479   37012   76410   99420  316219  220180  403016  288340  491989  520102  486660  373149  299623  484914  362925  420193   395025   581125   446517   481204   561896   604244   641057   676757  1142002  1076106  1346883  1342685  1413184  1240993
2   Americas     682    9996   21971   16714     895      97     611    1966     491     143    1348     247      89     206     176     226      85     108     119    2579     548    1754    3209   14330   53567    1910    6478   23784    57400   100741   157602   218579   137417   133244   151396   227452   199744   202758   137410   153746   252378   257790

In [25]:
len(data_01.columns)

43

In [26]:
print(data_01.columns)

['WHO region', ' 2021', ' 2020', ' 2019', ' 2018', ' 2017', ' 2016', ' 2015', ' 2014', ' 2013', ' 2012', ' 2011', ' 2010', ' 2009', ' 2008', ' 2007', ' 2006', ' 2005', ' 2004', ' 2003', ' 2002', ' 2001', ' 2000', ' 1999', ' 1998', ' 1997', ' 1996', ' 1995', ' 1994', ' 1993', ' 1992', ' 1991', ' 1990', ' 1989', ' 1988', ' 1987', ' 1986', ' 1985', ' 1984', ' 1983', ' 1982', ' 1981', ' 1980']

In [27]:
data_01 = data_01.selectExpr('`WHO region`', "stack(42, \
' 1980', ` 1980`, ' 1981', ` 1981`, ' 1982', ` 1982`, ' 1983', ` 1983`, ' 1984', ` 1984`, \
' 1985', ` 1985`, ' 1986', ` 1986`, ' 1987', ` 1987`, ' 1988', ` 1988`, ' 1989', ` 1989`, \
' 1990', ` 1990`, ' 1991', ` 1991`, ' 1992', ` 1992`, ' 1993', ` 1993`, ' 1994', ` 1994`, \
' 1995', ` 1995`, ' 1996', ` 1996`, ' 1997', ` 1997`, ' 1998', ` 1998`, ' 1999', ` 1999`, \
' 2000', ` 2000`, ' 2001', ` 2001`, ' 2002', ` 2002`, ' 2003', ` 2003`, ' 2004', ` 2004`, \
' 2005', ` 2005`, ' 2006', ` 2006`, ' 2007', ` 2007`, ' 2008', ` 2008`, ' 2009', ` 2009`, \
' 2010', ` 2010`, ' 2011', ` 2011`, ' 2012', ` 2012`, ' 2013', ` 2013`, ' 2014', ` 2014`, \
' 2015', ` 2015`, ' 2016', ` 2016`, ' 2017', ` 2017`, ' 2018', ` 2018`, ' 2019', ` 2019`, \
' 2020', ` 2020`, ' 2021', ` 2021`) as (Year, region)")

In [28]:
data_01.sample(False, 5/data_01.count(), seed=150).limit(5).pandas_api()

              WHO region   Year  region
0                 Global   1996  870218
1               Americas   1992  100741
2        South-East Asia   2018   34741
3  Eastern Mediterranean   1999   71562
4  Eastern Mediterranean   2005   15069

In [29]:
data_01.coalesce(1).write.option("header", "true").mode("overwrite").csv("oms_01")

In [30]:
url_02 ="https://apps.who.int/gho/athena/data/GHO/cpmowho,cpmt,fps,fpsmowho?filter=COUNTRY:*;AGEGROUP:*&ead=&x-sideaxis=COUNTRY;YEAR;DATASOURCE&x-topaxis=GHO;AGEGROUP&profile=crosstable&format=csv"

In [31]:
import requests


response = requests.get(url_02)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Guardar el contenido de la respuesta en un archivo
    with open("who/data_02.csv", "wb") as file:
        file.write(response.content)
    print("Archivo descargado exitosamente.")
else:
    print("No se pudo realizar la descarga.")

Archivo descargado exitosamente.

In [32]:
# Ruta del archivo CSV

csv_url_02 = "who/data_02.csv"

# Crear una lista para almacenar las filas del archivo CSV
rows_url_02 = []


#API_SE.PRM.CMPT.ZS_DS2_es_csv_v2_5478942

In [33]:
# Leer el archivo CSV y almacenar las filas en la lista
with open(csv_url_02, "r") as file_csv_url_02:
    csv_reader_url_02 = csv.reader(file_csv_url_02)
    rows_url_02 = list(csv_reader_url_02)

In [34]:
# Eliminar las primeras 1 fila

rows_url_02 = rows_url_02[1:]

# Escribir las filas modificadas en un nuevo archivo CSV
with open("who/data_02.csv", "w", newline="") as file_csv_url_02:
    csv_writer_url_02 = csv.writer(file_csv_url_02)
    csv_writer_url_02.writerows(rows_url_02)

In [35]:
data_02 = spark.read.csv("who/data_02.csv", header=True)

In [36]:
data_02.limit(3).pandas_api()

23/06/08 10:27:50 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas, Year, Data Source,  20-49 years,  15-19 years,  20-49 years,  15-19 years,  20-49 years,  15-19 years,  20-49 years,  15-19 years
 Schema: Countries, territories and areas, Year, Data Source,  20-49 years3,  15-19 years4,  20-49 years5,  15-19 years6,  20-49 years7,  15-19 years8,  20-49 years9,  15-19 years10
Expected:  20-49 years3 but found:  20-49 years
CSV file: file:///_disk_dev/final_project/who/data_02.csv

  Countries, territories and areas   Year Data Source      20-49 years3   15-19 years4      20-49 years5      15-19 years6      20-49 years7      15-19 years8      20-49 years9     15-19 years10
0                      Afghanistan   2015         DHS  20.7 [19.3-22.1]  6.0 [4.4-8.1]  23.5 [21.9-25.1]    7.8 [5.7-10.5]  43.0 [40.9-45.1]  20.8 [15.6-27.2]  48.7 [46.4-51.0]  27.1 [20.5-34.8]
1                      Afghanistan   2010        MICS  21.3 [19.9-22.8]  6.6 [5.1-8.5]  22.4 [20.9-23.9]     7.1 [5.6-9.0]           No data           No data           No data           No data
2                          Albania   2017         DHS     3.7 [3.1-4.3]  3.3 [1.1-9.5]  46.2 [43.0-49.5]  32.7 [23.1-44.1]     6.0 [5.1-7.1]    5.5 [1.8-15.3]  75.5 [72.5-78.3]  54.4 [40.0-68.1]

In [37]:
len(data_02.columns)

11

In [38]:
print(data_02.columns)

['Countries, territories and areas', 'Year', 'Data Source', ' 20-49 years3', ' 15-19 years4', ' 20-49 years5', ' 15-19 years6', ' 20-49 years7', ' 15-19 years8', ' 20-49 years9', ' 15-19 years10']

In [39]:
new_columns = ['Countries, territories and areas', 'Year', 'Data Source', 'Contraceptive prevalence - use of modern methods (%)20-49 years3', ' Contraceptive prevalence - use of modern methods (%)15-19 years4', ' Contraceptive prevalence - use of modern and traditional methods (%) 20-49 years9', ' Contraceptive prevalence - use of modern and traditional methods (%)15-19 years',' Demand of family planing satisfied - ose of modern methods (%)20-49 years5', ' Demand of family planing satisfied - use of modern methods (%)15-19 years6', 'Demand of family planing satisfied - use of modern methods and traditional(%)20-49 years7', ' Demand of family planing satisfied - use of modern methods and traditional(%)15-19 years8']

In [40]:
data_02 = data_02.toDF(*new_columns)

In [41]:
data_02.sample(False, 10/data_02.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas, Year, Data Source,  20-49 years,  15-19 years,  20-49 years,  15-19 years,  20-49 years,  15-19 years,  20-49 years,  15-19 years
 Schema: Countries, territories and areas, Year, Data Source,  20-49 years3,  15-19 years4,  20-49 years5,  15-19 years6,  20-49 years7,  15-19 years8,  20-49 years9,  15-19 years10
Expected:  20-49 years3 but found:  20-49 years
CSV file: file:///_disk_dev/final_project/who/data_02.csv

  Countries, territories and areas   Year Data Source Contraceptive prevalence - use of modern methods (%)20-49 years3  Contraceptive prevalence - use of modern methods (%)15-19 years4  Contraceptive prevalence - use of modern and traditional methods (%) 20-49 years9  Contraceptive prevalence - use of modern and traditional methods (%)15-19 years  Demand of family planing satisfied - ose of modern methods (%)20-49 years5  Demand of family planing satisfied - use of modern methods (%)15-19 years6 Demand of family planing satisfied - use of modern methods and traditional(%)20-49 years7  Demand of family planing satisfied - use of modern methods and traditional(%)15-19 years8
0                        Argentina   2011        MICS                                                 57.8 [56.2-59.4]                                                  32.9 [29.7-36.1]                                                                   60.0 [58.3-61.6]                                                                 33.7 [30.6-36.9]                                                                     No data                                                                     No data                                                                                   No data                                                                                    No data
1                       Bangladesh   2019        MICS                                                 60.0 [59.5-60.6]                                                  48.0 [46.2-49.8]                                                                   63.8 [63.2-64.3]                                                                 49.7 [47.9-51.5]                                                            78.2 [77.7-78.7]                                                            71.9 [69.9-73.8]                                                                          82.8 [82.3-83.3]                                                                           74.1 [72.2-76.0]
2                     Burkina Faso   2003         DHS                                                   9.2 [8.3-10.2]                                                     4.4 [3.1-6.3]                                                                   14.5 [13.3-15.7]                                                                    6.8 [5.0-9.1]                                                            20.8 [19.0-22.7]                                                            16.4 [11.4-22.9]                                                                          32.8 [30.5-35.1]                                                                           25.1 [18.7-32.8]
3                             Cuba   2010        MICS                                                 73.4 [70.8-75.8]                                                  67.0 [52.0-79.1]                                                                   74.6 [72.1-76.9]                                                                 67.0 [52.0-79.1]                                                            89.8 [87.7-91.6]                                                            85.6 [64.9-95.1]                                                                          90.8 [88.8-92.6]                                                                           85.6 [64.9-95.1]
4                           Guyana   2006        MICS                                                 33.7 [31.4-36.0]                                                  19.7 [13.2-28.4]                                                                   34.9 [32.6-37.2]                                                                 19.7 [13.2-28.4]                                                            50.5 [47.3-53.6]                                                            36.9 [25.4-50.0]                                                                          51.9 [48.8-55.0]                                                                           36.9 [25.4-50.0]
5                           Malawi   2006        MICS                                                 40.2 [38.9-41.5]                                                  22.8 [20.3-25.6]                                                                   42.7 [41.4-44.0]                                                                 24.0 [21.5-26.8]                                                                     No data                                                                     No data                                                                                   No data                                                                                    No data
6                             Mali   2015        MICS                                                 16.0 [14.8-17.3]                                                     7.6 [6.1-9.6]                                                                   16.4 [15.2-17.7]                                                                   8.1 [6.4-10.0]                                                            34.7 [32.5-37.1]                                                            22.8 [18.5-27.7]                                                                          35.5 [33.3-37.9]                                                                           24.0 [19.6-28.9]
7                           Mexico   2015        MICS                                                 65.6 [62.9-68.2]                                                  50.3 [42.9-57.6]                                                                   67.5 [65.2-69.8]                                                                 50.9 [43.6-58.3]                                                            82.6 [80.8-84.4]                                                            63.1 [54.6-70.9]                                                                          84.0 [82.2-85.6]                                                                           63.9 [55.4-71.6]
8                        Nicaragua   1997         DHS                                                 59.6 [58.3-60.9]                                                  38.2 [33.6-42.9]                                                                   62.8 [61.5-64.0]                                                                 39.8 [35.3-44.5]                                                            77.1 [75.7-78.4]                                                            55.9 [50.6-61.1]                                                                          82.9 [81.6-84.1]                                                                           59.9 [54.7-64.9]
9                             Peru   2010         DHS                                                 50.7 [49.4-52.0]                                                  44.6 [39.0-50.3]                                                                   74.8 [73.7-75.8]                                                                 63.6 [58.3-68.6]                                                            60.2 [58.8-61.6]                                                            51.6 [45.6-57.6]                                                                          92.1 [91.4-92.7]                                                                           84.4 [80.1-87.9]

In [42]:
data_02 = data_02.filter(col("Countries, territories and areas").isin(americans_countries) | col("Countries, territories and areas").isin(oceanic_countries))

In [43]:
data_02.coalesce(1).write.option("header", "true").mode("overwrite").csv("oms_02")

23/06/08 10:27:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas, Year, Data Source,  20-49 years,  15-19 years,  20-49 years,  15-19 years,  20-49 years,  15-19 years,  20-49 years,  15-19 years
 Schema: Countries, territories and areas, Year, Data Source,  20-49 years3,  15-19 years4,  20-49 years5,  15-19 years6,  20-49 years7,  15-19 years8,  20-49 years9,  15-19 years10
Expected:  20-49 years3 but found:  20-49 years
CSV file: file:///_disk_dev/final_project/who/data_02.csv

In [44]:
url_03 = "https://apps.who.int/gho/athena/data/GHO/WHOSIS_000002,WHOSIS_000007?filter=COUNTRY:*&ead=&x-sideaxis=COUNTRY&x-topaxis=GHO;SEX;YEAR&profile=crosstable&format=csv"

In [45]:
response = requests.get(url_03)

# Verificar si la solicitud fue exitosa (código de estado 200)
if response.status_code == 200:
    # Guardar el contenido de la respuesta en un archivo
    with open("who/data_03.csv", "wb") as file:
        file.write(response.content)
    print("Archivo descargado exitosamente.")
else:
    print("No se pudo realizar la descarga.")

Archivo descargado exitosamente.

In [46]:
# Ruta del archivo CSV

csv_url_03 = "who/data_03.csv"

# Crear una lista para almacenar las filas del archivo CSV
rows_url_03 = []

In [47]:
# Leer el archivo CSV y almacenar las filas en la lista
with open(csv_url_03, "r") as file_csv_url_03:
    csv_reader_url_03 = csv.reader(file_csv_url_03)
    rows_url_03 = list(csv_reader_url_03)

In [48]:
# Eliminar las primeras 4 filas

rows_url_03 = rows_url_03[2:]

# Escribir las filas modificadas en un nuevo archivo CSV
with open("who/data_03.csv", "w", newline="") as file_csv_url_03:
    csv_writer_url_03 = csv.writer(file_csv_url_03)
    csv_writer_url_03.writerows(rows_url_03)

In [49]:
data_03 = spark.read.csv("who/data_03.csv", header=True)

In [50]:
data_03.limit(3).pandas_api()

23/06/08 10:27:51 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000,  2019,  2015,  2010,  2000,  2019,  2015,  2010,  2000,  2019,  2015,  2010,  2000,  2019,  2015,  2010,  2000,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004,  20195,  20156,  20107,  20008,  20199,  201510,  201011,  200012,  201913,  201514,  201015,  200016,  201917,  201518,  201019,  200020,  201921,  201522,  201023,  200024
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

  Countries, territories and areas  20191  20152  20103  20004  20195  20156  20107  20008  20199  201510  201011  200012  201913  201514  201015  200016  201917  201518  201019  200020  201921  201522  201023  200024
0                      Afghanistan   53.9   52.6   51.1   46.8   54.7   52.8   51.5   46.9   53.2    52.4    50.7    46.6    10.8    11.2    10.9    10.2    11.2    11.5    11.1    10.2    10.6    10.9    10.7    10.1
1                          Albania   69.1   69.0   67.6   65.2   68.0   68.0   66.3   63.1   70.3    70.1    68.9    67.7    16.6    16.7    16.7    15.0    15.9    15.9    15.7    13.5    17.3    17.5    17.7    16.7
2                          Algeria   66.4   66.0   65.5   62.7   66.7   66.3   65.9   62.6   66.1    65.7    65.2    62.8    16.0    15.9    15.6    14.6    15.9    15.8    15.5    14.6    16.2    16.0    15.7    14.7

In [51]:
print(data_03.columns)

['Countries, territories and areas', ' 20191', ' 20152', ' 20103', ' 20004', ' 20195', ' 20156', ' 20107', ' 20008', ' 20199', ' 201510', ' 201011', ' 200012', ' 201913', ' 201514', ' 201015', ' 200016', ' 201917', ' 201518', ' 201019', ' 200020', ' 201921', ' 201522', ' 201023', ' 200024']

In [52]:
data_03_1 = data_03.selectExpr('`Countries, territories and areas`', "stack(4, \
'2019', ` 20191`, '2015', ` 20152`, '2010', ` 20103`, '2000', ` 20004`) as (Year, HALE)")

In [53]:
data_03_1.sample(False, 10/data_03_1.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header:  2019,  2015,  2010,  2000
 Schema:  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv
23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

  Countries, territories and areas  Year  HALE
0              Antigua and Barbuda  2019  67.0
1                         Bulgaria  2019  66.3
2                             Cuba  2019  67.8
3                             Fiji  2015  59.6
4                          Finland  2000  67.8
5                           Gambia  2019  57.0
6                           Guinea  2019  53.3
7                        Indonesia  2015  62.3
8                            Italy  2010  71.1
9                            Malta  2015  71.3

In [54]:
data_03_1 = data_03_1.filter(col("Countries, territories and areas").isin() | col("Countries, territories and areas").isin(oceanic_countries))
#data_00 = data_00.filter(col("Year") >= "1970")

In [55]:
data_03_1.sample(False, 10/data_03_1.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv
23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

   Countries, territories and areas  Year  HALE
0                         Australia  2019  70.9
1                         Australia  2015  70.6
2                         Australia  2010  70.2
3                          Kiribati  2015  51.6
4                          Kiribati  2010  51.5
5  Micronesia (Federated States of)  2019  56.0
6  Micronesia (Federated States of)  2010  55.8
7                       New Zealand  2019  70.2
8                       New Zealand  2015  69.9
9                       New Zealand  2000  67.8

In [56]:
data_03_1.coalesce(1).write.option("header", "true").mode("overwrite").csv("hale")

23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

In [57]:
data_03_2 = data_03.selectExpr('`Countries, territories and areas`', "stack(4, \
'2019', ` 20195`, '2015', ` 20156`, '2010', ` 20107`, '2000', ` 20008`) as (Year, HALE_male)")

In [58]:
data_03_2.sample(False, 10/data_03_2.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header:  2019,  2015,  2010,  2000
 Schema:  20195,  20156,  20107,  20008
Expected:  20195 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv
23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20195,  20156,  20107,  20008
Expected:  20195 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

  Countries, territories and areas  Year HALE_male
0              Antigua and Barbuda  2019      66.2
1                         Bulgaria  2019      63.9
2                             Cuba  2019      66.6
3                             Fiji  2015      58.6
4                          Finland  2000      65.8
5                           Gambia  2019      56.4
6                           Guinea  2019      52.9
7                        Indonesia  2015      61.5
8                            Italy  2010      70.0
9                            Malta  2015      70.7

In [59]:
data_03_2 = data_03_2.filter(col("Countries, territories and areas").isin() | col("Countries, territories and areas").isin(oceanic_countries))

In [60]:
data_03_2.sample(False, 10/data_03_2.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20195,  20156,  20107,  20008
Expected:  20195 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv
23/06/08 10:27:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20195,  20156,  20107,  20008
Expected:  20195 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

   Countries, territories and areas  Year HALE_male
0                         Australia  2019      70.2
1                         Australia  2015      69.7
2                         Australia  2010      69.2
3                          Kiribati  2015      49.6
4                          Kiribati  2010      49.3
5  Micronesia (Federated States of)  2019      54.4
6  Micronesia (Federated States of)  2010      54.2
7                       New Zealand  2019      69.6
8                       New Zealand  2015      69.3
9                       New Zealand  2000      66.4

In [61]:
data_03_2.coalesce(1).write.option("header", "true").mode("overwrite").csv("hale_male")

23/06/08 10:27:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20195,  20156,  20107,  20008
Expected:  20195 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

In [62]:
data_03_3 = data_03.selectExpr('`Countries, territories and areas`', "stack(4, \
'2019', ` 20191`, '2015', ` 20152`, '2010', ` 20103`, '2000', ` 20004`) as (Year, HALE_female)")

In [63]:
data_03_3.sample(False, 10/data_03_1.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv
23/06/08 10:27:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

  Countries, territories and areas  Year HALE_female
0                      Afghanistan  2019        53.9
1                      Afghanistan  2015        52.6
2                      Afghanistan  2010        51.1
3                          Algeria  2015        66.0
4                          Algeria  2010        65.5
5                           Angola  2019        54.8
6                           Angola  2010        50.6
7              Antigua and Barbuda  2019        67.0
8              Antigua and Barbuda  2015        66.8
9              Antigua and Barbuda  2000        65.5

In [64]:
data_03_3 = data_03_3.filter(col("Countries, territories and areas").isin() | col("Countries, territories and areas").isin(oceanic_countries))
#data_00 = data_00.filter(col("Year") >= "1970")

In [65]:
data_03_3.sample(False, 10/data_03_1.count(), seed=150).limit(10).pandas_api()

23/06/08 10:27:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv
23/06/08 10:27:53 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20191,  20152,  20103,  20004
Expected:  20191 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

   Countries, territories and areas  Year HALE_female
0                         Australia  2019        70.9
1                         Australia  2015        70.6
2                         Australia  2010        70.2
3                          Kiribati  2015        51.6
4                          Kiribati  2010        51.5
5  Micronesia (Federated States of)  2019        56.0
6  Micronesia (Federated States of)  2010        55.8
7                       New Zealand  2019        70.2
8                       New Zealand  2015        69.9
9                       New Zealand  2000        67.8

In [67]:
data_03_2.coalesce(1).write.option("header", "true").mode("overwrite").csv("hale_female")

23/06/08 12:04:08 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: Countries, territories and areas,  2019,  2015,  2010,  2000
 Schema: Countries, territories and areas,  20195,  20156,  20107,  20008
Expected:  20195 but found:  2019
CSV file: file:///_disk_dev/final_project/who/data_03.csv

In [68]:
!pip install azure

Defaulting to user installation because normal site-packages is not writeable
Collecting azure
  Using cached azure-5.0.0.zip (4.6 kB)
  Preparing metadata (setup.py) ... error
  error: subprocess-exited-with-error

  × python setup.py egg_info did not run successfully.
  │ exit code: 1
  ╰─> [25 lines of output]
      Traceback (most recent call last):
        File "<string>", line 2, in <module>
        File "<pip-setuptools-caller>", line 34, in <module>
        File "/tmp/pip-install-sv5u6ltn/azure_40e6366e0c61490888e3dfa1e0998e2c/setup.py", line 60, in <module>
          raise RuntimeError(message)
      RuntimeError:

      Starting with v5.0.0, the 'azure' meta-package is deprecated and cannot be installed anymore.
      Please install the service specific packages prefixed by `azure` needed for your application.

      The complete list of available packages can be found at:
      https://aka.ms/azsdk/python/all

      Here's a non-exhaustive list of common packages:

      -  azure-mgmt-compute (https://pypi.python.org/pypi/azure-mgmt-compute) : Management of Virtual Machines, etc.
      -  azure-mgmt-storage (https://pypi.python.org/pypi/azure-mgmt-storage) : Management of storage accounts.
      -  azure-mgmt-resource (https://pypi.python.org/pypi/azure-mgmt-resource) : Generic package about Azure Resource Management (ARM)
      -  azure-keyvault-secrets (https://pypi.python.org/pypi/azure-keyvault-secrets) : Access to secrets in Key Vault
      -  azure-storage-blob (https://pypi.python.org/pypi/azure-storage-blob) : Access to blobs in storage accounts

      A more comprehensive discussion of the rationale for this decision can be found in the following issue:
      https://github.com/Azure/azure-sdk-for-python/issues/10646


      [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
error: metadata-generation-failed

× Encountered error while generating package metadata.
╰─> See above for output.

note: This is an issue with the package mentioned above, not pip.
hint: See above for details.

In [69]:
!pip install azure-storage-blob

Defaulting to user installation because normal site-packages is not writeable
Collecting azure-storage-blob
  Downloading azure_storage_blob-12.16.0-py3-none-any.whl (387 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 388.0/388.0 kB 6.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: cryptography>=2.1.4 in /usr/lib/python3.10/site-packages (from azure-storage-blob) (40.0.1)
Collecting isodate>=0.6.1
  Downloading isodate-0.6.1-py2.py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.7/41.7 kB 8.8 MB/s eta 0:00:00
Requirement already satisfied: typing-extensions>=4.0.1 in /usr/lib/python3.10/site-packages (from azure-storage-blob) (4.5.0)
Collecting azure-core<2.0.0,>=1.26.0
  Downloading azure_core-1.27.0-py3-none-any.whl (174 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 174.2/174.2 kB 15.8 MB/s eta 0:00:00
Requirement already satisfied: requests>=2.18.4 in /usr/lib/python3.10/site-packages (from azure-core<2.0.0,>=1.26.0->azure-storage-blob) (2.28.2)
Requirement already satisfied: six>=1.11.0 in /usr/lib/python3.10/site-packages (from azure-core<2.0.0,>=1.26.0->azure-storage-blob) (1.16.0)
Requirement already satisfied: cffi>=1.12 in /usr/lib/python3.10/site-packages (from cryptography>=2.1.4->azure-storage-blob) (1.15.1)
Requirement already satisfied: pycparser in /usr/lib/python3.10/site-packages (from cffi>=1.12->cryptography>=2.1.4->azure-storage-blob) (2.21)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/lib/python3.10/site-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.26.0->azure-storage-blob) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /usr/lib/python3.10/site-packages (from requests>=2.18.4->azure-core<2.0.0,>=1.26.0->azure-storage-blob) (3.4)
Installing collected packages: isodate, azure-core, azure-storage-blob
Successfully installed azure-core-1.27.0 azure-storage-blob-12.16.0 isodate-0.6.1